---
- name: assert | Test if mediawiki_major is set correctly
  ansible.builtin.assert:
    quiet: true
    that:
      - mediawiki_major is defined
      - mediawiki_major is number
- name: assert | Test if mediawiki_minor is set correctly
  ansible.builtin.assert:
    quiet: true
    that:
      - mediawiki_minor is defined
      - mediawiki_minor is number
- name: assert | Test if mediawiki_release is set correctly
  ansible.builtin.assert:
    quiet: true
    that:
      - mediawiki_release is defined
      - mediawiki_release is number
- name: assert | Test if mediawiki_version is set correctly
  ansible.builtin.assert:
    quiet: true
    that:
      - mediawiki_version is defined
      - mediawiki_version is string
- name: assert | Test if mediawiki_destination is set correctly
  ansible.builtin.assert:
    quiet: true
    that:
      - mediawiki_destination is defined
      - mediawiki_destination is string
